@import url('../assets/fonts/inter.css');

h1, h2, h3, h4, h5, h6, p, blockquote, code {
  margin: 0;
}

h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.9px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.75px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.6px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.5px;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.4px;
}

h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.25px;
}

p {
  font-size: 16px;
  line-height: 28px;
}

blockquote {
  font-style: italic;
  padding-left: 1.5rem;
  border-color: hsl(var(--border));
  border-left: 2px solid;
}
